<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.first_name, employee_path(employee) %></td>
        <td><%= link_to employee.last_name, employee_path(employee) %></td>
        <td><%= mail_to employee.email, employee.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>