<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Account Number</th>
      <th>Website</th>
      <th>Invoice Frequency</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.account_number %></td>
        <td><%= link_to customer.website, "http://#{customer.website}" %></td>
        <td><%= customer.invoice_frequency %></td>
      </tr>
    <% end %>
  </tbody>
</table>